@model IEnumerable<Aether.Models.PollutantData>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dev_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.O3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pm25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pm25Average)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dev_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pm25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pm25Average)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
