
@model DisplayToUserInformation

<p>The Air Quality(AQI) For Your Location is @Model.AQIToday</p><br>

<p>O3: @Model.AQIO3</p><br>
<p>PM 10: @Model.AQIPM10</p><br>
<p>PM 2.5: @Model.AQIPM25</p><br>
<p>CO: @Model.AQICO</p><br>
<p>SO2: @Model.AQISO2</p><br>
<p>NO2: @Model.AQINO2</p>
<p>CO 1-Day: @Model.FutureAQIs[0].COAQI</p>
<p>CO 3-Day: @Model.FutureAQIs[1].COAQI</p>
<p>CO 5-Day: @Model.FutureAQIs[2].COAQI</p>
<p>O3 1-Day: @Model.FutureAQIs[0].O3AQI</p>
<p>O3 3-Day: @Model.FutureAQIs[1].O3AQI</p>
<p>O3 5-Day: @Model.FutureAQIs[2].O3AQI</p>
<p>NO2 1-Day: @Model.FutureAQIs[0].NO2AQI</p>
<p>NO2 3-Day: @Model.FutureAQIs[1].NO2AQI</p>
<p>NO2 5-Day: @Model.FutureAQIs[2].NO2AQI</p>

<p>Sensor Name: @Model.SensorName</p>