@model Aether.Models.AQIs

<h1 style="color:red">@ViewBag.Message</h1>

@{
    List<AQIs> theList = (List<AQIs>)ViewBag.AQIList;
    string city = "Grand Rapids" @*theList[0].City*@;
}

<p style="font-size:8rem; padding:10px; background-color:#@ViewBag.AQIColor">The AQI in @city is <b>@ViewBag.highestAQI</b></p>


@{
    foreach (AQIs a in theList)
    {
        <p>@a.Pollutant AQI: <b>@a.AQI</b></p>
    }

    string currentTime = DateTime.Now.ToString("yyyy-MM-ddTHH");
    

}

<p>@currentTime</p>