@model Aether.Models.AQIs
@using Aether.Controllers
@using Aether.Models

@{
    Layout = null;
}
@{
    List<AQIs> historicAQIs = APIController.GetHistoricAQIList();
}
<head>

    <title>Aether</title>
    <link rel="stylesheet" href="~/css/MyCss.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CSyncopate:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="~/js/ColorChanger.js"></script>

</head>
<body>
    <nav class="nav-container">
        <div>
            <a class="logo" href="#!/home">Aether</a>
        </div>
        <ul class="nav-items">
            <li class="nav-item"><a href="#!/home"> Home</a></li>
            <li class="nav-item"><a href="#!/home"> About</a></li>
            <li class="nav-item"><a href="#!/home">Contact</a></li>
        </ul>
    </nav>
    <main class="sky-image">
        <div class="current data">
            <div class="gr-data">
                @{
                    List<AQIs> theList = (List<AQIs>)ViewBag.AQIList;

                    if (theList.Count() != 0)
                    {
                        <h1 class="header">Grand Rapids EPA Air Qaility Index(AQI)</h1>
                        <div id="epaAQI" class="circle">@ViewBag.highestAQI</div>
                        <script type="text/javascript" src="~/js/ColorChanger.js"></script>
                        <script>
                            getColor("epaAQI");
                        </script>
                    }
                    else
                    {
                        <h1 style="color: red">Oops. The API didn't return anything.</h1>
                    }
                }
                <h4>@ViewBag.Message</h4>

                @{
                    foreach (AQIs a in theList)
                    {
                        if (a.O3AQI == ViewBag.highestAQI)
                        {
                            <h2>Your air quality is @a.Rating</h2>
                        }
                    }
                }
            </div>
        <div id="epaAQIGraph"></div>

        <div class="legend-box">
            <div class="column"><div class="legend green"><div>0-50</div></div><p>Good</p></div>
            <div class="column"><div class="legend yellow"><div>51-100</div></div><p>Moderate</p></div>
            <div class="column"><div class="legend orange"><div>101-150</div></div><p>Unhealthy 
                <br />for Sensitive Groups</p></div>
            <div class="column"><div class="legend red"><div>151-200</div></div><p>Unhealthy</p></div>
            <div class="column"><div class="legend purple"><div>201-300</div></div><p>Very Unhealthy</p></div>
            <div class="column"><div class="legend dark-red"><div>301-500</div></div><p>Hazardous</p></div>
        </div>
        </div>
    <div class="current mapside">
        <div class="search-container">
            <h3 class="text-center">Get Your Current Local Air Quality</h3>
            <div class="search">
                <div id="searchForm">
                    <form action="~/Home/AirQuality">
                        <input ng-model="userInput" name="address" placeholder="Search an address" id="search-box" type="text" />
                        <button class="btn btn-primary">Search</button>
                    </form>
                </div>
                <iframe src="https://www.google.com/maps/d/embed?mid=1_DPTiL1WmEPsVSvh1wVOYvSzAa7FZ9aF" width="100%" height="480" ;></iframe>
            </div>
        </div>
    </div>
    </main>
    <script>

        var trace1 = {
            x: [ "7/12", "7/13", "7/14", "7/15", "7/16", "7/17", "7/18" ],
            y: [ @historicAQIs[6].O3AQI, @historicAQIs[5].O3AQI, @historicAQIs[4].O3AQI, @historicAQIs[3].O3AQI, @historicAQIs[2].O3AQI, @historicAQIs[1].O3AQI, @historicAQIs[0].O3AQI  ],
            name: 'Ozone',
            type: 'scatter'
        };
            @*var trace2 = {
            x: [@oneDayList[6][0].Date, @oneDayList[5][0].Date, @oneDayList[4][0].Date, @oneDayList[3][0].Date,
                    @oneDayList[2][0].Date, @oneDayList[1][0].Date, @oneDayList[0][0].Date ],
            y: [@oneDayList[6][1].AQI, @oneDayList[5][1].AQI, @oneDayList[4][1].AQI, @oneDayList[3][1].AQI,
                @oneDayList[2][1].AQI, @oneDayList[1][1].AQI, @oneDayList[0][1].AQI ],
            name: 'PM 2.5',
            type: 'scatter'
        };*@
        var data = [trace1@*, trace2*@];
        var layout = {
            font: {
                color: "white",
            },
            width: 400,
            height: 300,
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
            title: "Past 7-Days AQIs",
            xaxis: {
                title: "Date"
            },
            yaxis: {
                title: "AQIs"
            }
        };
        Plotly.newPlot('epaAQIGraph', data, layout, { showSendToCloud: true });

    </script>
</body>

