@model Aether.Models.AQIs

<h1 style="color:red">@ViewBag.Message</h1>

@{
    List<AQIs> theList = (List<AQIs>)ViewBag.AQIList;

    if (theList.Count() != 0)
    {
        <p style="font-size:6rem; padding:10px; background-color:#@ViewBag.AQIColor">The AQI <b>@ViewBag.highestAQI</b></p>
    }
}


@{
    foreach (AQIs a in theList)
    {
        if (a.AQI == ViewBag.highestAQI)
        {
            <p style="font-size: 4rem">Your weather quality is @a.Rating</p>
        }
    }
}


@{
    foreach (AQIs a in theList)
    {
        <p>@a.Pollutant AQI: <b>@a.AQI</b></p>
    }

    string currentTime = DateTime.Now.ToString("yyyy-MM-ddTHH");
    

}

<p>@currentTime</p>